<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<body>
<div class="container">
    <div class="row">
      <div class="shadow-lg col-md-5 p-3 mb-2 bg-white text-black box">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/0/02/Sea_Otter_%28Enhydra_lutris%29_%2825169790524%29_crop.jpg" 
        style = "float:center;height:200px;width:auto;margin:0px 0px 20px 0px">
            <h2> Maggie Cheung </h2>
            <h5>21 | She, Her, Hers | University of Connecticut</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ultricies condimentum. Vivamus tincidunt nec diam non rhoncus. Maecenas rhoncus et turpis bibendum aliquam. Nullam justo enim, porttitor eget lorem vel, semper posuere purus. Nullam sed ullamcorper nulla, ut dapibus nisl. Praesent molestie faucibus eleifend. Mauris enim mi, maximus sit amet nulla eu, aliquet mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Aenean eu urna a sapien accumsan varius eu sit amet felis. Aliquam et tincidunt quam.</p>
        </div>
        <div class="col-md-2 p-3 mb-2">
            </div>
      <div class="shadow-lg col-md-5 p-3 mb-2 bg-white text-black box">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/0/02/Sea_Otter_%28Enhydra_lutris%29_%2825169790524%29_crop.jpg" 
        style = "float:center;height:200px;width:auto;margin:0px 0px 20px 0px">
            <h2> Nic Marchini </h2>
            <h5>20 | He, Him, His | University of Connecticut</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ultricies condimentum. Vivamus tincidunt nec diam non rhoncus. Maecenas rhoncus et turpis bibendum aliquam. Nullam justo enim, porttitor eget lorem vel, semper posuere purus. Nullam sed ullamcorper nulla, ut dapibus nisl. Praesent molestie faucibus eleifend. Mauris enim mi, maximus sit amet nulla eu, aliquet mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Aenean eu urna a sapien accumsan varius eu sit amet felis. Aliquam et tincidunt quam.</p>
      </div>
    </div>
  </div>


<div class="container">
    <div class = "shadow-lg p-3 my-4 bg-white rounded">
        <h2> What is Otter Or Not?</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ultricies condimentum. Vivamus tincidunt nec diam non rhoncus. Maecenas rhoncus et turpis bibendum aliquam. Nullam justo enim, porttitor eget lorem vel, semper posuere purus. Nullam sed ullamcorper nulla, ut dapibus nisl. Praesent molestie faucibus eleifend. Mauris enim mi, maximus sit amet nulla eu, aliquet mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Aenean eu urna a sapien accumsan varius eu sit amet felis. Aliquam et tincidunt quam.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ultricies condimentum. Vivamus tincidunt nec diam non rhoncus. Maecenas rhoncus et turpis bibendum aliquam. Nullam justo enim, porttitor eget lorem vel, semper posuere purus. Nullam sed ullamcorper nulla, ut dapibus nisl. Praesent molestie faucibus eleifend. Mauris enim mi, maximus sit amet nulla eu, aliquet mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Aenean eu urna a sapien accumsan varius eu sit amet felis. Aliquam et tincidunt quam.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat ultricies condimentum. Vivamus tincidunt nec diam non rhoncus. Maecenas rhoncus et turpis bibendum aliquam. Nullam justo enim, porttitor eget lorem vel, semper posuere purus. Nullam sed ullamcorper nulla, ut dapibus nisl. Praesent molestie faucibus eleifend. Mauris enim mi, maximus sit amet nulla eu, aliquet mollis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Aenean eu urna a sapien accumsan varius eu sit amet felis. Aliquam et tincidunt quam.</p>
    </div>
</div>
<div class="container d-flex flex-grow-1">
</div>
</body>
