
img{
    border-radius:50%;
}

.container{
    background-color:#A4CDEA;
    margin-left: auto;
}

.box{
    text-align: center;
    border-radius: 10%;
    margin-top: 20px;
}

.page-footer{
    background-color:red;
}
