<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container-fluid d-flex justify-content-around" style="height: 90vh; flex-direction: column; background-color:powderblue;">
    <div class="row flex-grow-1">
        <div class="flex-column flex-grow-1">
          </div>
          <div class="flex-column flex-grow-1 w-50 align-self-center align-items-center">
            
          <div class="d-flex align-items-center" style="flex-direction: column;">
                 <img src="../../assets/blank.png" alt="Girl in a jacket" width="200" height="200">
                 <div class="row mt-2">
                 <input class="btn btn-primary mr-2" type="file" name="file" (change)="onFileSelected($event)">
                 <button class="btn btn-primary" type="button" (click)="onUpload()">Submit</button>
                 </div>

            </div>
          </div>

          <div class="flex-column flex-grow-1">
          </div>
        </div>
  </div>

<!--
<div class="container-fluid d-flex justify-content-around" style="height: 90vh; flex-direction: column;">
    <div class="row flex-grow-1">
        <div class="flex-column flex-grow-1" style="background-color: green;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1" style="background-color: blue;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1 " style="background-color: red;">
            One of three columns
          </div>
    </div>
    <div class='row flex-grow-1 h-25'>
        <div class="flex-column flex-grow-1" style="background-color: orange;">
            One of three columns
          </div>
          <div class="flex-column w-25" style="background-color: yellow;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1" style="background-color: purple;">
            One of three columns
          </div>
    </div>
    <div class='row flex-grow-1'>
        <div class="flex-column flex-grow-1" style="background-color: whitesmoke;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1" style="background-color: black;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1 " style="background-color: brown;">
            One of three columns
          </div>
      
    </div>
    <div class="row flex-grow-1">
        <div class="flex-column flex-grow-1" style="background-color: green;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1" style="background-color: blue;">
            One of three columns
          </div>
          <div class="flex-column flex-grow-1 " style="background-color: red;">
            One of three columns
          </div>
    </div>
  </div>
-->