<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Patrick+Hand&family=Quicksand&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">


<div class="container-fluid d-flex justify-content-around" style="height: 100vh; flex-direction: column; background-color:transparent;">
  <div class="row-fluid">
        <div class="column">
          </div>
          <div class="column align-self-center align-items-center">
          <div class="d-flex align-items-center" style="flex-direction: column;">
            <div id="instructions">
              Find out if your picture has an otter or not!
            </div>
          <img id="otterpng" class="rounded mx-auto text-center d-block" style="max-height: 406px; max-width: 406px; opacity:{{ opac }}" #otter src="{{ imgURL }}" alt="otter">
                 <div class="row mt-2">
                    <input class="inputfile" type="file" id="file" name="file"  (change)="onFileSelected($event)">
                    <label class="btn btn-primary" type="button" for="file">select</label>
                    <div id="spacer" style="width:20px"> </div>
                    <label id="ab" class="btn btn-primary" type="button" (click)="onUpload()">submit</label>
                 </div>
                 <div id="result">{{ result }}</div>
            </div>
          </div>
          <div class="column ">
          </div>
        </div>
  </div>
  <div class='wavecontain'>
  <div class="fullbox">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0, 119, 182, 0.6)" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0, 119, 182, 0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0, 119, 182, 0.4)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(1, 119, 182, 1)" />
    </g>
    </svg>
    </div>
  </div>